.Button{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding:0.8em;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: grid;
  font-size: 1em;
  align-items: center;
}