<header class="blog__header">
    <div class="blog__header-adminenter">
        {% if app.admin %}
            <a href="{{ path('adminExit') }}">Выйти из админ панели</a>
        {% else %}
            <a href="{{ path('adminHomePage') }}">Войти в админ панель</a>
            <p>admin:123</p>
        {% endif %}
    </div>
    <div class="blog__header-logo">
        <h1 class="blog__header-h1">
            <a class="blog__header-h1-a" href="{{ path('homePage') }}">Simple blog</a>
        </h1>
        <h2 class="blog__header-h2">a test task from <a target="_blank" href="http://labiteam.com/">LabITeam</a></h2>
    </div>
</header>