<header class="blog__header">
    <h1 class="blog__header-h1">
        <a class="blog__header-h1-a" target="_blank" href="https://github.com/nedzelskiy/job-interview/tree/master/blog/">Simple blog</a>
    </h1>
    <h2 class="blog__header-h2">a test task from LabITeam</h2>
</header>