<!DOCTYPE html>
<head>
    <title>Blog, test task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C600italic%2C300%2C600&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <style type="text/css">
        .tk-franklin-gothic-urw-cond{
            font-family:"franklin-gothic-urw-cond",sans-serif;
        }</style>
    <style type="text/css">
        @font-face{
            font-family:franklin-gothic-urw-cond;
            src:url(https://fonts.typekit.net/af/4bd271/0000000000000000000118b9/27/l?subset_id=2&fvd=n7) format("woff2");
            font-weight:700;
            font-style:normal;
        }
        @font-face{
            font-family:franklin-gothic-urw-cond;
            src:url(https://fonts.typekit.net/af/a1c24c/0000000000000000000118ba/27/l?subset_id=2&fvd=i7) format("woff2");
            font-weight:700;
            font-style:italic;
        }
    </style>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .jam-center {
            margin: .5em 0 0 0;
            text-align: center;
        }
        .jam-center ul {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        .jam-center li {
            display: inline-block;
        }
        .jam-social-share {
            height: 2em;
            width: 2em;
        }
        .jam-social-share:hover {
            zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5;
        }


    </style>
    <link rel="stylesheet" href="styles/css.css" />
</head>
<html>
    <body class="home">
        <header>
            <h1><a style='color:#000000;' href="http://smalltowninertia.co.uk/">Small Town Inertia</a></h1>
            <h2 style="color:#000000;">Documentary &amp; Portraits by J A Mortram</h2>
        </header>

        <div id="content">
            <ul class="group">
                <li class="group">
                    <article id="post-2705" class="post-2705 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-tilney1-watching-a-plane-fall-from-the-sky-aflame/" title="Permalink to Market Town : Tilney1 : Watching a plane fall from the sky, aflame." rel="bookmark">Market Town : Tilney1 : Watching a plane fall from the sky, aflame.</a></h1>
                        <div class="meta post-meta">July 30, 2016 <a href="http://smalltowninertia.co.uk/market-town-tilney1-watching-a-plane-fall-from-the-sky-aflame/#comments">3 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-tilney1-watching-a-plane-fall-from-the-sky-aflame/" title="Permalink to Market Town : Tilney1 : Watching a plane fall from the sky, aflame." rel="bookmark"><img width="456" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2016/07/JAM_8153-456x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_8153" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2016/07/JAM_8153-456x300.jpg 456w, http://smalltowninertia.co.uk/wp-content/uploads/2016/07/JAM_8153-912x600.jpg 912w, http://smalltowninertia.co.uk/wp-content/uploads/2016/07/JAM_8153-768x505.jpg 768w" sizes="(max-width: 456px) 100vw, 456px"></a>
                        <p>“When you see a news report about someone beating someone up in a hospital because they weren’t getting the right medication or doing something bad because they weren’t getting the correct help, you see a picture of him. When you see negative things about people with mental illness, you feel that’s how people feel about you.”</p>

                    </article>
                </li>
                <li class="group">
                    <article id="post-2326" class="post-2326 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-tilney1 post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-tilney1-mixed-media-protection-cocoon/" title="Permalink to MARKET TOWN : TILNEY1 : MIXED MEDIA PROTECTION COCOON" rel="bookmark">MARKET TOWN : TILNEY1 : MIXED MEDIA PROTECTION COCOON</a></h1>
                        <div class="meta post-meta">May 2, 2015 <a href="http://smalltowninertia.co.uk/market-town-tilney1-mixed-media-protection-cocoon/#comments">8 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-tilney1-mixed-media-protection-cocoon/" title="Permalink to MARKET TOWN : TILNEY1 : MIXED MEDIA PROTECTION COCOON" rel="bookmark"><img width="458" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2015/03/JAM_4399-458x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_4399" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2015/03/JAM_4399-458x300.jpg 458w, http://smalltowninertia.co.uk/wp-content/uploads/2015/03/JAM_4399-916x600.jpg 916w" sizes="(max-width: 458px) 100vw, 458px"></a>
                        <p>“I do try to be an amazing person though. I try and find inspiration in my illness. I never chose to be mentally ill, you know?, it was never a lifestyle choice.”</p>

                    </article>
                </li>
                <li class="group">
                    <article id="post-2305" class="post-2305 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-david post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-david-as-cold-as-clay/" title="Permalink to Market Town : David : As cold as clay" rel="bookmark">Market Town : David : As cold as clay</a></h1>
                        <div class="meta post-meta">December 21, 2014 <a href="http://smalltowninertia.co.uk/market-town-david-as-cold-as-clay/#comments">53 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-david-as-cold-as-clay/" title="Permalink to Market Town : David : As cold as clay" rel="bookmark"><img width="450" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9741_MONO_SITE-450x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_9741_MONO_SITE" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9741_MONO_SITE-450x300.jpg 450w, http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9741_MONO_SITE-901x600.jpg 901w" sizes="(max-width: 450px) 100vw, 450px"></a>
                        <p>Throughout the course of 2014, I’ve visited David frequently, documenting his daily routines, listening to his memories, fears, dreams and frustrations as he has navigated a year filled with challenges as a result of his being blinded in a freak accident, and the loss of his beloved Mother, Eugene. Eugene’s passing has left a wound, <a href="http://smalltowninertia.co.uk/market-town-david-as-cold-as-clay/">[…]</a></p>

                    </article>
                </li>
                <li class="group">
                    <article id="post-1915" class="post-1915 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-tilney1 post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-tilney1-defence-mechanisms/" title="Permalink to Market Town : Tilney1 : Defence mechanisms" rel="bookmark">Market Town : Tilney1 : Defence mechanisms</a></h1>
                        <div class="meta post-meta">May 4, 2014 <a href="http://smalltowninertia.co.uk/market-town-tilney1-defence-mechanisms/#comments">10 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-tilney1-defence-mechanisms/" title="Permalink to Market Town : Tilney1 : Defence mechanisms" rel="bookmark"><img width="450" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9431SITE-450x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_9431SITE" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9431SITE-450x300.jpg 450w, http://smalltowninertia.co.uk/wp-content/uploads/2014/05/JAM_9431SITE-901x600.jpg 901w" sizes="(max-width: 450px) 100vw, 450px"></a>
                        <p>“The biggest worry for me is my bank, my bills and direct debits not going through, I mean, I’m £350 overdrawn right now and I get letters coming through my door, bills, the bank, benefits letters and that’s what I worry about the most.”</p>

                    </article>
                </li>
                <li class="group">
                    <article id="post-66" class="post-66 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-simon-and-kirsty post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-simon/" title="Permalink to Market Town : Simon &amp; Kirsty : A prison without walls" rel="bookmark">Market Town : Simon &amp; Kirsty : A prison without walls</a></h1>
                        <div class="meta post-meta">January 17, 2014 <a href="http://smalltowninertia.co.uk/market-town-simon/#comments">20 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-simon/" title="Permalink to Market Town : Simon &amp; Kirsty : A prison without walls" rel="bookmark"><img width="450" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2012/07/JAM_4901_Web-450x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_4901_Web" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2012/07/JAM_4901_Web-450x300.jpg 450w, http://smalltowninertia.co.uk/wp-content/uploads/2012/07/JAM_4901_Web-901x600.jpg 901w, http://smalltowninertia.co.uk/wp-content/uploads/2012/07/JAM_4901_Web.jpg 1400w" sizes="(max-width: 450px) 100vw, 450px"></a>
                        <p>“All the millionaires and that, they are sat there in their big houses and judge us. The benefits people always fob us off, every week they say ‘You can’t expect us to give you money straight away.’ and yeah, that’s alright but you don’t know how we have to live, what state we have to live in and you’re there going home to your nice food, to your brand new car, a seven bedroom house and were left here and no one has a care in the world.”</p>

                    </article>
                </li>
                <li class="group">
                    <article id="post-2004" class="post-2004 post type-post status-publish format-gallery has-post-thumbnail hentry category-uncategorized tag-david post_format-post-format-gallery">
                        <h1><a href="http://smalltowninertia.co.uk/market-town-david-the-long-goodbye/" title="Permalink to Market Town : David : The long goodbye" rel="bookmark">Market Town : David : The long goodbye</a></h1>
                        <div class="meta post-meta">December 23, 2013 <a href="http://smalltowninertia.co.uk/market-town-david-the-long-goodbye/#comments">57 Comments</a></div>
                        <a href="http://smalltowninertia.co.uk/market-town-david-the-long-goodbye/" title="Permalink to Market Town : David : The long goodbye" rel="bookmark"><img width="450" height="300" src="http://smalltowninertia.co.uk/wp-content/uploads/2013/12/JAM_1494_Web_TEST-450x300.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="JAM_1494_Web_TEST" srcset="http://smalltowninertia.co.uk/wp-content/uploads/2013/12/JAM_1494_Web_TEST-450x300.jpg 450w, http://smalltowninertia.co.uk/wp-content/uploads/2013/12/JAM_1494_Web_TEST-901x600.jpg 901w" sizes="(max-width: 450px) 100vw, 450px"></a>
                        <p>“When we said goodnight on the phone she said “Goodbye, my darling.” and I said “Goodbye, mum.” and I said “I love you.” and she said “Yes, I know you do.”</p>

                    </article>
                </li>
            </ul><!-- .group -->
            <nav id="post-nav">

                <a href="http://smalltowninertia.co.uk/page/2/">Prev</a>	</nav>
        </div><!-- #content -->

        {#<footer class="meta">
            <nav id="nav-donate" class="group">
                <div class="menu-donate-container"><ul id="menu-donate" class="menu"><li id="menu-item-366" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-366"><a href="http://www.oxfam.org.uk/">Oxfam GB</a></li>
                        <li id="menu-item-509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-509"><a href="http://www.shelter.org.uk/">Shelter GB</a></li>
                        <li id="menu-item-510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-510"><a href="http://www.mind.org.uk/">Mind</a></li>
                        <li id="menu-item-511" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-511"><a href="http://www.epilepsy.org.uk/">Epilepsy Action</a></li>
                        <li id="menu-item-512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-512"><a href="http://aletheiaphotos.com/">Aletheia</a></li>
                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-513"><a href="http://hopemob.org/s/1j0-postcards-from-the-black-audio-scanner-for-david">Donate</a></li>
                    </ul></div>		</nav>
            <nav id="nav-footer" class="group">
                <div class="menu-site-container"><ul id="menu-site" class="menu"><li id="menu-item-367" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-367"><a href="http://smalltowninertia.co.uk/">Home</a></li>
                        <li id="menu-item-515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515"><a href="http://smalltowninertia.co.uk/about/">About J A Mortram</a></li>
                    </ul></div>		</nav>
            <li id="search-2" class="widget widget_search"><form role="search" method="get" id="searchform" action="http://smalltowninertia.co.uk/">
                    <div><label class="screen-reader-text" for="s"></label>
                        <input type="text" value="" name="s" id="s">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                </form></li>
            <br>
            © 2016 J A Mortram. All rights reserved.</footer>#}
    </body>
</html>