<!DOCTYPE html>
<head>
    <title>Blog, test task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C600italic%2C300%2C600&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/blog.css" />
    <link rel="stylesheet" href="/styles/media.css" />
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/blog.js" ></script>
</head>
<html>
    <body>
        <div class="blog">
                {% block header %}
                    {% include '_header.twig' %}
                {% endblock %}
            <div class="blog__content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>