{% extends "layout.twig" %}

{% block content %}
    <div class="blog__postlist">
        <div class="row">
            <div class="col-1 col col-h">Дата публикации</div>
            <div class="col-2 col col-h">Название записи</div>
            <div class="col-3 col col-h">Превью записи</div>
            <div class="col-4 col col-h">Изображение</div>
        </div>
        {% for post in posts %}
            {% include ('_postrecord.twig') %}
        {% endfor %}
    </div>
{% endblock %}