@media all and (max-width:775px){
    .col{
        display:block;
        width:100%;
        margin:5px 0;
    }
    .col.blog__postrecord-title{
        margin:10px 0;
        font-weight: bold;
    }
    .col.blog__postrecord-description{
        margin-bottom: 10px;
    }
    .col-h{
        display: none;
    }
}

@media all and (max-width:680px){
    .blog__header-logo{
        float:left;
        margin-left:20px
    }
    .blog__header-adminenter {
        margin-top: 40px;
    }
    .blog__header{
        height:150px;
    }
    .blog__header:after{
        clear: both;
    }
}

@media all and (max-width:485px){
    .blog__header-logo{
        float:none;
        display:inline-block;
    }
    .blog__header-adminenter {
        float:none;
        display:block;
        margin:0;
    }
}