@media all and (max-width:1080px){
    .blog .col-1{
        max-width:15%;
    }
    .blog .col-2{
        max-width:25%;
    }
    .blog .col-3{
        max-width:40%;
    }
    .blog .col-4{
        max-width:20%;
    }
}

@media all and (max-width:775px){
    .blog .col{
        display:block;
        width:100%;
        min-width:100%;
        margin:5px 0;
    }
    .blog .col.blog__postrecord-title{
        margin:10px 0;
        font-weight: bold;
    }
    .blog .col.blog__postrecord-description{
        margin-bottom: 10px;
    }
    .blog .col.col-h{
        display: none;
    }
}

@media all and (max-width:680px){
    .blog .blog__header-logo{
        float:left;
        margin-left:20px
    }
    .blog .blog__header-adminenter {
        margin-top: 40px;
    }
    .blog .blog__header{
        height:150px;
    }
    .blog .blog__header:after{
        clear: both;
    }
}

@media all and (max-width:485px){
    .blog .blog__header-logo{
        float:none;
    }
    .blog .blog__header-adminenter {
        float:none;
        display:block;
        margin:0;
    }
}